<h1 *ngIf="router.url === '/main-page'">
    Your local weather current/forecast
</h1>
<div *ngIf="router.url === '/main-page'" class="current">
  <div *ngFor="let weather of weathers1?.weather">
    <h1>Current weather in {{weathers1?.name}}, {{weathers1?.sys?.country}}</h1>
    <h2><img src="http://openweathermap.org/img/w/{{weather?.icon}}.png">{{current_temp}} &#176;С</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Cloudiness</th>
            <th>Wind</th>
            <th>Sea level</th>
            <th>Humidity</th>
            <th>Pressure</th>
            <th>Wind degrees</th>
            <th>Geo coords</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{weather?.description}}</td>
            <td>{{weathers1?.wind?.speed}} m/s</td>
            <td>{{current_sea_level}} m</td>
            <td>{{weathers1?.main?.humidity}} %</td>
            <td>{{weathers1?.main?.pressure}} hpa</td>
            <td>{{degrees}}</td>
            <td style="color: red">[{{coord_lat}}, {{weathers1?.coord?.lon}}]</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div *ngIf="router.url === '/main-page'" class="forecast">
  <div>
      <h1>Forecast weather in {{weathers2?.city?.name}}, {{weathers2?.city?.country}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Status</th>
            <th>Cloudiness</th>
            <th>Min temperature</th>
            <th>Max temperature</th>
            <th>Wind</th>
            <th>Humidity</th>
            <th>Pressure</th>
          </tr>
        </thead>
        <tbody *ngFor="let weather1 of weathers2?.list">
          <tr>
            <td>{{weather1?.dt_txt | date: 'MMMM d'}}</td>
            <td>{{weather1?.dt_txt | date: 'HH:mm'}}</td>
            <td><img src="http://openweathermap.org/img/w/{{weather1?.weather[0].icon}}.png"></td>
            <td>{{weather1?.weather[0].description}}</td>
            <td>{{weather1?.main?.temp_min}} &#176;С</td>
            <td>{{weather1?.main?.temp_max}} &#176;С</td>
            <td>{{weather1?.wind?.speed}} m/s</td>
            <td>{{weather1?.main?.humidity}} %</td>
            <td>{{weather1?.main?.pressure}} hpa</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<router-outlet></router-outlet>



